{% extends 'base.html' %}
{% block body %}

<form method='POST' action='/potegowanie'>
    <div class="container">
       <div class="jumbotron">
        <h1>{{ the_title }}</h1>
        <p class="lead">Na tej stronie możesz "rozebrać potęgowanie" na części pierwsze, czyli mnożenie i dodawanie.</p>
        <p class="lead">W formularzu poniżej wpisz liczbę, jaką chcesz potęgować i jej potęgę. Program zrobi resztę za Ciebie.</p>
        <table class="table">
            <tr><td>Liczba:</td><td><input name='liczba' type='TEXT' width='60'></td></tr>
            <tr><td>Potęga:</td><td><input name='potega' type='TEXT'></td></tr>
        </table>
        <p>Gdy będziesz gotów, kliknij ten przycisk:</p>
        <p><input class="btn btn-lg btn-success" value='Rozbierz potęgowanie' type='SUBMIT'></p>
       </div>
</form>
{% endblock %}